/* setting font for whole body */
body {
    font-family: "Azeret Mono", monospace;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navgation section */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;
}

.navbar button {
    width: 228px;
    height: 58px;
    border: 1px solid #0d1321;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
}




