/* N.B > This website is created with desktop screen size (width: 1440px). This site currently will be visible perfectly in a screen size of 1440px. */


/* setting font for whole body */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Azeret Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navgation section */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
    align-items: center;
}

.navbar .btn {
    width: 228px;
    height: 58px;
    border: 1px solid #0d1321;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
    cursor: pointer;
}

.navbar .btn:hover {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    transition: 0.5s;
    opacity: 1;
}
/* banner section */
.banner {
    width: 100%;
    max-width: 1440px;
    height: 652px;
    margin-bottom: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.banner-container .hero-bg {
    width: 240.28px;
    height: 240px;
}

.banner-container h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 65px;
}

.banner-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-container .btn2 {
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.banner-container .btn2 a {
    text-decoration: none;
    color: white;
}

.banner-container .btn2:hover {
    border: 2px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

/* web development section */
.development {
    width: 1140px;
    max-width: 1440px;
    height: 1395px;
    margin: 0px 150px;
    margin-bottom: 30px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.development-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.development-container h3 {
   font-size: 32px;
   font-weight: 800;
   color: rgb(13, 19, 33);
   text-align: center; 
}

.development-container .dev-text {
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33); 
    text-align: center;
 }

.dev-card {
    width: 100%;
    height: 336px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 99.867%);
    box-shadow: -10px 0px 10px 0px rgb(13 19 33 / 0.01);
    padding: 48px;
 }
 
.dev-card-2 {
    width: 100%;
    height: 336px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 99.867%);
    box-shadow: 10px 0px 10px 0px rgb(13 19 33 / 0.01);
    padding: 48px;
 }

.dev-card-left {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
 }

.dev-card-right {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .dev-card-right-2 {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
 }

.dev-card-left-2 {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .dev-card-left-2 img {
    width: 68%;
 }

.development-container .card-text-1 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.development-container .card-text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.development-container .btn3 {
   width: 150px;
   height: 48px;
   color: rgb(13, 19, 33);
   border: 1px solid rgba(13, 19, 33, 0.7);
   opacity: 0.7;
   text-align: center; 
   font-size: 15px;
   font-weight: 500;
   font-family: "Azeret Mono", monospace;
   padding: 10px;
}

.development-container .btn3 a {
    text-decoration: none;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}

.development-container .btn3:hover {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    transition: 0.5s;
    opacity: 1;
}

/* inpiration section */
.inspiration {
    width: 1140px;
    max-width: 1440px;
    height: 777px;
    margin: 70px 150px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inspiration-container h3 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.inspiration-container .inspiration-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 48px;
}

.inspiration-container .video-item {
    padding: 32px;
    border: 2px solid rgb(13 19 33 / 0.1);
    border-radius: 16px;
}

/* target section */
.target {
    width: 1140px;
    max-width: 1440px;
    height: 1400px;
    margin: 50px 150px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 111px;
}

.target-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.target-container h3 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.target-container p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 48px;
}

.target-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


.target-card .target-card-template-1,
.target-card .target-card-template-2,
.target-card .target-card-template-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 364px;
    height: 300px;
    padding: 40px;
    border: none;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
    gap: 24px;
}

.target-card .target-card-template-2 {
    background-color: rgba(0, 76, 232, 0.05);
}

.target-card .target-card-template-3 {
    background-color: rgba(255, 223, 0, 0.05);
}

.target-card .target-icon {
    height: 60px;
    width: 60px;
}

.target-card .target-text {
  font-size: 24px;
  font-weight: 800;
  text-align: left;  
}

.target-card .target-description {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 0;  
  }
  

.btn4 {
   color: rgb(13, 19, 33);
   text-align: center; 
   font-size: 14px;
   font-weight: 800;
   text-decoration: underline;
   text-decoration-thickness: 2px;
   text-underline-offset: 3px;
}

.btn4:hover {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    transition: 0.5s;
    opacity: 1;
}

.next-target-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

.next-target-container h3 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.next-target-container p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 48px;
}

.next-target-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.next-target-card-template {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.7);
    border-radius: 16px;
    padding: 40px;
    position: relative;
}

.next-target-card-template .next-target-box {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    align-items: flex-start;
    justify-content: center;
}

.next-target-card-template .next-target-icon {
    width: 120px;
    position: absolute;
    left: 30px;
}

.next-target-box .next-target-text {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.next-target-box .next-target-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: start;
}

/* feedback section */
.feedback {
    width: 1140px;
    max-width: 1440px;
    height: 314px;
    margin: 0px 150px;
    margin-bottom: 35px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.6);
    background-image: url(assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: rgb(255, 255, 255);
}

.feedback-container h3 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.feedback-container p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.feedback-place {
    margin-top: 20px;
}

.feedback-container .feedback-place input {
    width: 548px;
    height: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0px 20px;
}

.feedback-container .feedback-place .submission {
    width: 120px;
    height: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    font-family: "Azeret Mono", monospace;
}

.feedback-container .feedback-place .submission:hover {
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    transition: 0.5s;
    opacity: 1;
}
::placeholder {
    font-family: "Azeret Mono", monospace;
}

/* footer section */
.footer {
    width: 1140px;
    max-width: 1440px;
    height: 30px;
    margin: 50px 150px;
    margin-bottom: 35px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container #footer-text {
    font-size: 15px;
    font-weight: 600;
}


.footer-container .footer-icon {
    display: flex;
    gap: 25px;
    align-items: center;
}

.footer-container .footer-icon .up-button {
    width: 36px;
    height: 36px;
}

/* index landing page code ends here */
